.audioPlayer {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  height: 75px;
  width: 100%;
  align-items: flex-end;
  position: fixed;
  z-index: 10000;
  bottom: 0px;
  user-select: none;
  padding-bottom: 0px;
  transform:translateY(100%);
  transition:all 200ms ease-in;
}

.container {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  background: rgb(25, 28, 31);
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 50px;
  width: 100%;
  position: relative;
}

.currentlyPlaying {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  /* justify-content: space-between; */
  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.inner {
  display: flex;
  height: 50px;
  width: 100%;
  max-width: 600px;
  align-items: center;
}

.image {
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  min-width: 0px;
  max-width: 100%;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  flex-shrink: 0;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.artistInfo {
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 1;
  height: 36px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.artistName {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-family: Roobert, sans-serif;
  font-variation-settings: "wght" 300;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  color: var(--theme-ui-colors-text2);
  line-height: 16px;
  vertical-align: top;
  cursor: pointer;
}

.playControls {
  display: flex
}

.songTrack {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding-top: 25px;
  width: 100%;
  height: 1px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  z-index: 9999;
  bottom: 50px;
  cursor: pointer;
}

.track {
  box-sizing: border-box;
  margin: 8px 0px;
  min-width: 0px;
  display: block;
  width: 100%;
  cursor: pointer;
  appearance: none;
  border-radius: 9999px;
  color: inherit;
  height: 2px;
  /* background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 2.05%, rgb(51, 51, 51) 2.05%, rgb(51, 51, 51) 100%); */
  /* pointer-events: none; */
}
.track::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: rgb(238, 238, 238);
  cursor: pointer;
}

/* 
input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 18px 0;
} */

.playTime {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  line-height: 1.5;
  font-variation-settings: "wght" 300;
  display: none;
  font-family: monospace;
  font-size: 12px;
  vertical-align: middle;
  align-self: center;
  font-variant-numeric: tabular-nums;
  color: var(--theme-ui-colors-text3);
  font-weight: 400;
  left: 24px;
  position: absolute;
  user-select: none;
}

.rotate180 {
  transform: rotate(180deg);
}

.playTimeEnd {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  line-height: 1.5;
  font-variation-settings: "wght" 300;
  font-family: monospace;
  font-size: 12px;
  vertical-align: middle;
  align-self: center;
  font-variant-numeric: tabular-nums;
  color: var(--theme-ui-colors-text3);
  font-weight: 400;
  right: 24px;
  position: absolute;
  user-select: none;
  display: none;
}

.iconButton {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: inherit;
  background-color: transparent;
  border: none;
  z-index: 100;
  user-select: none;
  cursor: pointer;
  height: 38px;
  width: 38px;
  flex-shrink: 0;
  /* padding: 0px 4px 0px 12px; */
  border-radius: 4px;
  transition: all 0.15s ease 0s;
}

.icon {
  box-sizing: border-box;
  margin: 0px;
  max-width: 100%;
  height: auto;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  color: #ffffff;
}
.active {
  transform:translateX(0%);
  transition:all 200ms ease-in;
}

@media screen and (min-width: 650px) {
  .playTime {
    display: block;
  }

  .iconButton {
    display: flex;
    align-items: center;
  }

  .volumeControls  {
    display: flex;
  }

  .bar {
    border-left-width: 2px;
  }

  .playTimeEnd {
    display: block;
  }
}

.bar {
  height: 100%;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #353336;
}

.volumeControls {
  display: none;
}